* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}

p.warn {
    margin: 10px auto;
    width: 100%;
}


/* Hero Starts */

.hero {
    height: 60vh;
    /* background-color: rgb(20, 21, 26); */
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(32, 32, 32, 0.884) 10%, rgba(10, 10, 10, 0.719)), url(img/With\ an\ old\ tree.png) center/cover;
}

.hero h2 {
    font-size: 1.2rem;
}

.hero h1 {
    font-size: 2.5rem;
    color: rgb(89, 228, 89);
}

.socials-list {
    display: flex;
}

.social-lists-element {
    height: 10px;
    width: 10px;
    background-color: aliceblue;
    padding: 5px;
    margin: 5px;
}


/* About me */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.profile__image {
    width: 300px;
}

.about-text {
    margin: 20px auto;
    text-align: center;
    font-size: 1.3rem;
}

.contact {
    padding: 10px 30px;
    background-color: rgb(38, 114, 38);
    color: white;
    font-size: 1.2rem;
    border: 0px;
    border-radius: 7px;
}


/* Specialized Section starts */

.specialized {
    margin-top: 3rem;
    padding-top: 1rem;
    background-color: rgb(245, 245, 245);
}

.specialized-in {
    margin-top: 20px;
    margin-left: 15%;
    align-items: center;
    font-size: 2rem;
}

.quality {
    width: 80%;
    height: 300px;
    background-color: rgb(245, 245, 245);
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgb(77, 77, 77);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quality>ul {
    margin: 10px 0;
    padding: 0;
    align-items: center;
    align-self: center;
}

.quality>ul>li {
    padding: 6px 0 6px 10px;
    border-left: 1px solid rgb(97, 97, 97);
}